extends ../layouts/common.pug

block content
	.container
		.bg-primary.p-2
			h3=name
		.row.justify-content-center
			.col-sm-8.col-md-6
				.d-flex.flex-column(style='height:90vh')
					ul#content.d-flex.h-100
					.d-flex.justify-content-center.pb-3
						input#text.flex-grow-1(type='text')
						button#btn.btn.btn-primary.ml-2 Send
	script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js')
	script(src="/client.js")