extends ../layouts/common.pug

block content
	.container
		.row.justify-content-center
		.col-sm-8.col-md-6
			h3 Who you want to chat with?
			form.form-inline(method='post')
				input.form-control(type='text')
				button.btn.btn-success(type='submit') Find